input[type="file"] {
  display: none;
}

.customUpload {
  display: inline-block;
  cursor: pointer;
  background-color: #128c7e;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
}

@media (max-width: 576px) {
  .customUpload {
    padding: 6px 10px;
  }
}
